Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-use-nullptr,
  modernize-use-override
WarningsAsErrors: '*'
HeaderFilterRegex: '^(include|src)/spc/|/spc-cpp/(include|src)/'
FormatStyle: file
